body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background: rgb(228, 228, 228);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
p {
  font-weight: 300;
}
.body-container {
  padding: 10vw;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.about-project {
  padding-top: 20px;
  padding-bottom: 0px;
}
.about-project p {
  text-align: justify;
}

.deliverables {
  padding-top: 20px;
  padding-bottom: 0px;
}

.deliverables p {
  text-align: justify;
}

.deliverables ul {
  margin-top: 30px;
  list-style: none;
  align-self: center;
}

.deliverables li {
  font-size: larger;
  margin-top: 10px;
}

.info-card-container {
  text-align: center;
  padding: 10vw;
}

.info-card {
  margin-top: 25px;
  background: #ffffff;
  padding: 12px;
  -webkit-box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
}

.info-card img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
a:hover {
  opacity: 0.6;
}
.info-card-text {
  padding: 10px;
}
.info-card-text a {
  font-weight: bold;
}
.info-card-text h2 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.info-card-text p {
  margin: 7px;
}

.footer {
  padding: 12px;
  text-align: center;
  background-color: #000;
  color: #ffffff;
}

.mails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  width: 100%;
  padding: 10px;
}

.mails a {
  margin-top: 10px;
}

.footer a {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  /* For tablets: */

  .info-card-container {
    padding: 9vw;
    padding-bottom: 75px;
    padding-top: 25px;
  }

  .info-card-container .myRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info-card {
    width: 25vw;
    margin: 10px;
    height: auto;
  }

  .info-card img {
    height: 250px;
  }

  .footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */

  .info-card {
    height: 25vw;
    width: 20vw;
    margin: 20px;
    min-height: 380px;
  }
}
